body {
    -webkit-user-select: none;
    overflow: hidden;
    width: 100%;
    min-width: 1000px;
}
.hidden{
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#header {
    line-height: normal;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 3;
}

#header *,
#header *::before,
#header *::after,
.chart-panel,
.chart-panel *,
.chart-panel *::before,
.chart-panel *::after,
.excel-panel,
.excel-panel *,
.excel-panel *::before,
.excel-panel *::after {
    box-sizing: content-box;
}

.weidu-panel {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 130px;
    width: 300px;
    border-right: 10px solid #f1f1f1;
    z-index: 1;
}

.weidu-panel > .column {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}

.weidu-panel > .weidu-box {
    z-index: 1;
}

.weidu-panel > .area-box,
.weidu-panel > .figures-box,
.weidu-panel > .check-box,
.weidu-panel > .memo-box {
    z-index: 2;
}

.weidu-panel .recognition-area,
.weidu-panel .figures,
.weidu-panel .check,
.weidu-panel .memo {
    background: #ecf4ff;
    padding: 42px 10px 53px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.weidu-panel .weidu-index,
.weidu-panel .new-recognition-area,
.weidu-panel .new-figures,
.weidu-panel .new-check,
.weidu-panel .new-memo {
    background: #ecf4ff;
    padding: 42px 10px 53px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}

.attr-panel h4.ui.header,
.weidu-main h4.ui.header,
.recognition-area h4.ui.header,
.new-recognition-area h4.ui.header,
.figures h4.ui.header,
.new-figures h4.ui.header,
.check h4.ui.header,
.new-check h4.ui.header,
.memo h4.ui.header,
.new-memo h4.ui.header,
.weidu-panel .weidu-index h4.ui.header,
.chart-attr-panel h4.ui.header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 7px 10px;
    margin: 0;
    width: 100%;
    background: #0a5dbb;
    color: #fff;
    font-size: 1em;
}

.attr-panel h4.ui.header {
    position: static;
    padding: 4px 10px 5px;
    margin: 0;
}

#recognition-area-list,
#figuresList,
#checkList,
#memoList {
    margin-top: 4px;
    height:100%;
    overflow-y:auto;
}

.custom-item .ui.label,
.ui.labels .label {
    font-size: 0.66em;
}

.weidu-panel > .column .footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    background: #ecf4ff;
}

.weidu-panel .show-panel-btn {
    width: 10px;
    height: 100px;
    line-height: 100px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -50px;
    cursor: pointer;
    overflow: hidden;
}

.weidu-panel .tagbg .ui.label .icon {
    margin-right: 0.25em;
}

.show-panel-btn > i.icon {
    color: #fff;
    margin-left: -4px;
}

.main-content {
    bottom: 0;
    left: 300px;
    top: 130px;
    right: 0;
    position: absolute;
}

.main-content.zindex {
    z-index: 1002;
}

.filter-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 700px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e1e1e1;
    background: #f1f1f1;
    z-index: 2;
}

.excel-panel {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    min-width: 700px;
    overflow: hidden;
    bottom: 0px;
    z-index: 1;
}

.attr-panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 700px;
    height: 160px;
    overflow: hidden;
    background: #fafafa;
    border-top: 1px solid #e1e1e1;
    z-index: 1;
    display: none;
}


/*public*/

.min-tree,
.iSearchList {
    width: 32%;
    height: 150px;
    float: left;
    border: 1px solid #d4d4d5;
    overflow: auto;
}

.attrSelType {
    position: relative;
}

.min-tree.fixed-tree {
    position: absolute;
    top: 22px;
    left: 105px;
    background: #fff;
    z-index: 2;
    display: none;
}

.iSearchList {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    margin: 0 !important;
}

.iSearchList .item {
    cursor: pointer;
    padding: 0.25em !important;
}

.iSearchList .item:nth-child(odd) {
    background: #f9fafb;
}

.iSearchList .item:hover {
    background: #2185d0;
    color: #fff;
}

.mini-list {
    width: 56%;
    height: 150px;
    float: right;
    border: 1px solid rgba(34, 36, 38, 0.15);
    position: relative;
}

.mini-list .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.mini-list .data-list {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 118px;
    overflow-x: hidden;
    overflow-y: auto;
}

.mini-list .data-list td {
    position: relative;
}

.mini-list .data-list .ui.corner.label {
    width: 1em;
    height: 1em;
}

.mini-list .data-list .ui.corner.label::after {
    border-width: 0 2em 2em 0;
}

.mini-list .data-list tbody tr:last-child td {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.mini-list .data-list tbody tr td:last-child {
    position: relative;
}

.mini-list .data-list tbody tr i {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0.2em;
}

.mini-list .data-list tbody tr:hover i {
    display: inline;
}

.filter-box,
.weidu-box-one,
.weidu-box-two {
    display: none;
    position: relative;
}

.filter-box.active,
.weidu-box-one.active,
.weidu-box-two.active {
    display: block;
}

.diyname {
    width: 100px;
}

#filterTreeList .diyname {
    width: 92px;
}

.mini-list .table.ui.celled.small {
    border: none;
}

.mini-list .table.ui.celled.small th,
.mini-list .table.ui.celled.small td {
    padding: 0.4em;
    overflow: hidden;
}

.ui.buttons.arrows {
    margin-left: 3%;
    float: left;
}

.ui.label > .chevron.down.icon {
    cursor: pointer;
    font-size: 0.928571em;
    margin-left: 0.5em;
    margin-right: 0;
    opacity: 0.5;
    transition: background 0.1s ease 0s;
}

.ui.buttons.mini .button {
    padding: 0.5em;
    font-size: 1rem;
}

.ui.buttons.mini .button .icon {
    margin: 0;
    font-size: 1rem;
}

.ui.vt {
    vertical-align: top !important;
}

.ui.page {
    margin-bottom: 6px;
}

.ui.segment.nob {
    box-shadow: none;
    border: none;
    margin: 0;
}

.modal .ui.page.nob {
    padding: 0;
    border-top: 1px solid #d4d4d5;
    margin-bottom: 0;
}

.modal .ui.celled.grid > .row {
    border: none;
}

.ui.compact.menu.mini {
    min-height: auto;
    box-shadow: none;
}

.ui.item.dropdown.mini,
.ui.selection.dropdown.mini {
    padding: 0.678614em 1em;
    font-size: 0.714286em;
    line-height: 1.2142em;
}

.ui.selection.dropdown.mini .menu > .item {
    padding: 0.678614em 1em;
    font-size: 1em;
    line-height: 1.2142em;
}

.new-figures > .ui.item,
.new-check > .ui.item,
.new-memo > .ui.item,
.new-recognition-area > .ui.item {
    padding: 0.214286em 0;
}

.figures .celled.table .buttons,
.check .celled.table .buttons,
.memo .celled.table .buttons,
.recognition-area .celled.table .buttons {
    display: none;
}

.figures .celled.table td,
.check .celled.table td,
.memo .celled.table td,
.recognition-area .celled.table td {
    position: relative;
}

.figures .celled.table:hover .buttons,
.check .celled.table:hover .buttons,
.memo .celled.table:hover .buttons,
.recognition-area .celled.table:hover .buttons {
    display: inline;
    position: absolute;
    right: 3px;
    top: 3px;
}

.weidu-index .ui.input.mini,
.new-recognition-area .ui.input.mini {
    width: 108px;
}

.weidu-index .tagbg,
.new-recognition-area .tagbg {
    background: #eee;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 0.285714rem;
}

.ui.labeled.diy.small {
    font-size: 0.928571em;
    display: flex;
}

.ui.labeled.diy.small > .dropdown.selection {
    border-bottom-left-radius: 0;
    border-left-color: transparent;
    border-top-left-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0.678614em 1em;
    min-height: auto;
    min-width: auto;
    flex: 1 0 auto;
}

.ui.labeled.diy.small > .dropdown.selection > .text {
    font-size: 0.928571em;
}

.ui.labeled.diy.small > .label {
    padding-bottom: 0.785714em;
    padding-top: 0.785714em;
    flex: 0 0 auto;
    font-size: 1em;
    margin: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.ui.labeled.input.small > input.center-text,
.ui.labeled.input.small > input.figures-posi,
.ui.labeled.input.small > input.check-posi,
.ui.labeled.input.small > input.celled-text {
    width: 172px;
    border-top: 1px solid rgba(34, 36, 38, .4);
    border-bottom: 1px solid rgba(34, 36, 38, .4);
}

.ui.labeled.input.small > input.figures-posi,
.ui.labeled.input.small > input.check-posi {
    width: 146px;
}

.weidu-index .ui.label,
.new-figures .ui.label,
.new-check .ui.label,
.new-recognition-area .ui.label {
    border: 1px solid rgba(34, 36, 38, .15);
}

.ui.radio.checkbox label {
    padding-left: 1.2em;
}

.attr-panel .ui.seven.grid {
    margin: 10px 0 0;
}

.attr-panel .ui.seven.grid .column {
    padding: 0;
    padding-left: 1em;
}

.attr-panel .ui.seven.grid .column .list {
    margin: 0;
}

.tabContainer > .column {
    float: left;
    padding: 5px 20px;
    text-align: center;
    border-right: 1px dashed #ccc;
    margin: 15px 0;
}

.tabContainer > .column i {
    background: url(../images/icon.png) no-repeat;
    width: 45px;
    height: 36px;
    margin-bottom: 5px;
    display: block;
}

.tabContainer > .column > .item {
    height: 58px;
    cursor: pointer;
}

.tabContainer > .column > .item:hover {
    background: #d3f0e0;
}

.tabContainer > .column > .item a {
    color: inherit;
}

.tabContainer > .column i.weidu {
    background-position: 0 0;
}

.tabContainer > .column i.area {
    background-position: 0 -36px;
}

.tabContainer > .column i.jisuan {
    background-position: 0 -72px;
}

.tabContainer > .column i.jiaoyan {
    background-position: 0 -108px;
}

.tabContainer > .column i.imemo {
    background-position: 0 -360px;
}

.tabContainer > .column i.tempsave {
    background-position: 0 -144px;
}

.tabContainer > .column i.save {
    background-position: 0 -180px;
}

.tabContainer > .column i.load {
    background-position: 0 -216px;
}

.tabContainer > .column i.init {
    background-position: 0 -252px;
}

.tabContainer > .column i.change {
    background-position: 0 -288px;
}
.tabContainer > .column i.backpage {
    background-position: 0 -324px;
}

#attr-panel-btn,
#show-panel-btn {
    display: block;
    margin-bottom: 12px;
}


/**维度**/

.weidu-main {
    width: 100%;
    height: 100%;
    position: relative;
}

.weidu-search {
    width: 100%;
    height: 46px;
    padding: 4px 10px 6px;
    position: absolute;
    top: 32px;
    left: 0;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.weidu-trees {
    width: 100%;
    height: 100%;
    padding-top: 78px;
    padding-bottom: 53px;
    background: #ecf4ff;
}

.custom-menu .custom-item {
    color: #000;
    border-width: 1px;
    border-color: transparent transparent #ccc transparent;
    border-style: solid;
    display: block;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    width: 30px;
    line-height: 1.2;
    position: relative;
}

.custom-menu .custom-item.active {
    font-weight: bold;
    border-right-color: #2185d0;
    border-right-width: 2px;
    background: #ddd;
    color: #2185d0;
}

.custom-tab {
    float: left;
    border: 1px solid #ccc;
    border-top: none;
    height: inherit;
    position: relative;
    width: 32px;
    overflow: hidden;
}
.J-label-tab {
    position: absolute;
    top: 0;
    left: 0;
}
.upordown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 16px;
    display: none;
    border-top: 1px solid #ccc;
}
.upordown .back-up,
.upordown .back-down{
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 15px;
    background: #f0f0f0 url(../images/zTreeStandard.png) no-repeat;
    cursor: pointer;
}
.upordown .back-up:hover,
.upordown .back-down:hover{
    background-color: #dadada;
}
.upordown .back-up:active,
.upordown .back-down:active{
    background-color: #ccc;
}
.upordown .back-up{
    left: 0;
    background-position: -148px -82px;
    border-right: 1px solid #ccc;
}
.upordown .back-down{
    right: 0;
    background-position: -163px -82px;
    border-left: 1px solid #ccc;
}

.custom-column {
    margin-top: 0!important;
}

.custom-column .column {
    overflow: hidden;
    padding-left: 0!important;
    padding-right: 0!important
}

.custom-menu {
    margin-bottom: 0!important;
    min-height: auto!important;
}

.ui.label:not(.empty) {
    margin-bottom: 1em;
}

.ui.label > a {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.ui.custom-grid {
    margin: 0!important;
}

.ui.custom-grid.custom-menu > .column {
    padding: 0 !important;
    text-align: center;
}

.ui.custom-grid.custom-column > .column {
    border-right: 1px dashed #ccc;
    height: 100%;
    padding: 0 3px !important;
}

.ui.custom-grid.custom-column > .column:last-child {
    border-right: none;
}

.ui.custom-grid > .column strong {
    display: block;
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 5px 0;
}

.ui.custom-grid > .column strong i {
    display: none;
}

.ui.custom-grid > .column .attr-box {
    height: 100%;
    overflow: auto;
}

.ui.custom-grid > .column > .attr-box .item {
    height: 24px;
    padding-left: 3px;
    line-height: 24px;
    position: relative;
}

.ui.custom-grid > .column > .attr-box .item:hover {
    background: #ccc;
}

.ui.custom-grid > .column a {
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 0;
}

.ui.custom-grid > .column a.blue {
    color: #2185d0;
}

.ui.custom-grid > .column .remove {
    cursor: pointer;
    font-size: 1.25em;
    margin: 0;
    position: absolute;
    right: 0;
    top: 1px;
    color: gray;
    display: none;
}

.ui.custom-grid > .column > .attr-box .item:hover .remove {
    display: block;
}

.ui.custom-grid > .column i.isfilter,
.ui.custom-grid > .column i.isrange {
    cursor: default;
    color: #f90;
    font-size: 12px;
    margin: 0 3px 0 0;
    padding: 0;
    width: 18px;
    height: 18px;
    line-height: 17px;
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    border: 1px solid #f90;
    border-radius: 50%;
    overflow: hidden;
    font-style: normal;
    background: #f9d6a1;
}
.ui.custom-grid > .column .line-through {
    text-decoration: line-through;
}

.ui.custom-input input,
.ui.action.input .custom-button {
    border-radius: 0!important;
}

.ui.custom-label {
    margin-bottom: 0 !important;
    min-width: auto!important;
    min-height: auto!important;
}

.ui.circular.label,
.ui.circular.labels .label {
    padding: 2px!important;
}

.weidu-tree-boxs {
    overflow: auto;
    height: inherit;
    border-bottom: 1px solid #ccc;
}

.ui.active.dimmer.iDimmer {
    opacity: 0.2;
}

.hasMainAndGuest {
    display: none;
}
.check-wrap {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*图表*/
.sec-tab {
    position: fixed;
    right: 383px;
    top: 0;
    z-index: 5;
}
.sec-tab a.ui.label {
    border-radius: 0 0 1.2em 1.2em;
    line-height: 16px;
    padding: 1.6em 0.4em 1em;
    text-align: center;
    width: 28px;
    font-size: 14px;
    margin-bottom: 0;
    /*box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);*/
}
.ui.form .inline.fields > label {
    width: 128px;
}
.fir-tab {
    position: fixed;
    right: 100px;
    top: 0;
    z-index: 5;
}
.fir-tab a.ui.label {
    margin: 0 0 1em;
    border-radius: 0 0 0.885714rem 0.885714rem;
    padding-left: 1.2em;
    padding-right: 1.2em;
}
.chart-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background: #fff;
}
.chart-filter-panel{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}
.chart-view-panel {
    position: absolute;
    left: 0;
    top: 31px;
    bottom: 0;
    right: 301px;
}
.chart-attr-panel{
    width: 300px;
    position: absolute;
    right: 0;
    top: 31px;
    padding-top: 36px;
    bottom: 0;
    border-left: 1px solid #ccc;
}

.chart-type-panel a {
    border: 4px dashed #ccc;
    float: left;
    height: 44px;
    line-height: 44px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
    width: 54px;
    font-size: 14px;
    color: #181818;
}
.chart-type-panel a.on {
    border-color: #2185d0;
    color: #2185d0;
}
.chart-view {
    width: 720px;
    height: 480px;
    margin: 50px auto 0;
}
#chart-setting {
    margin: 20px auto;
    width: 60%;
}
.setting-colors em {
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: middle;
}
.dropdown.selection > .text em,
.setting-colors em {
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: middle;
}

/* upland button */
.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.jshidden {
	width:158px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.common-tips {
    position: fixed;
    top: 5px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    text-align: center;
    background: #dff0d8;
    padding: 8px;
    border-radius: 3px;
    display: none;
    z-index: 9999;
}

.common-content {
    color: #3c763d;
    font-weight: 700;
    line-height: 22px;
    font-size: 14px;
    word-wrap: break-word;
}
