.iBox {
    border: 5px solid #6b6d6b;
    color: #1b9103;
    position: absolute;
    z-index: 9999;
    background: #fff url(../images/uiStyle.gif) repeat-x;
    padding: 0 25px 0 68px;
    margin-top: 1px;
    float: left;
    line-height: normal;
}

.iError {
    background-position: 0 -64px;
    color: #f00;
}

.iAlert {
    background-position: 0 bottom;
    color: #f90;
}

.iCon {
    font-size: 14px;
    padding: 20px 0;
    white-space: nowrap;
    font-weight: bold;
}

.iBlackout {
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
}
