.topBar,
.toolBar {
    font-size: 9pt;
    background: #0a5dbb;
    overflow: hidden;
    min-width: 1000px;
}

.fui-control {
    float: left;
    height: 30px;
}

.fui-control span {
    float: left;
    padding: 7px 12px;
    color: #fff;
    height: 16px;
    display: block;
    cursor: default;
}

.fui-control .active {
    background: #fff;
    color: #2185D0;
}

.toolBar {
    background: #fafafa;
    border-bottom: 1px solid #e1e1e1;
}

.fui-cf-ico {
    background: url('../../images/funcBg.png');
}

.fui-cf-extend-ico {
    background: url('../../images/funcExtend.png');
}

.fui-section {
    border: 1px solid #fafafa
}

#header .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 3px dashed;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent
}

.fui-group {
    display: inline-block;
}

.fui-separator,
.fui-container {
    display: inline-block;
}

.fui-separator {
    height: 80px;
    border-right: 1px dashed #c6c6c6;
    margin: 0 6px;
    display: inline-block;
}

.fui-layout {
    vertical-align: top
}

#header span {
    display: inline-block;
}

.fui-cf-text {
    margin: 0 3px
}

.fui-title {
    text-align: center;
    height: 15px;
}

.fui-cf-desc {
    text-align: center;
    padding: 3px 0 0 0;
}

.ico-paste {
    background-position: -137px -1px;
    width: 32px;
    height: 32px
}

.ico-shear {
    background-position: -225px 16px;
    width: 16px;
    height: 16px;
    float: left;
}

.ico-copy {
    background-position: -136px -72px;
    width: 16px;
    height: 16px;
    float: left;
}

.ico-weight {
    width: 16px;
    height: 16px;
    background-position: -136px -89px;
}

.ico-italic {
    width: 16px;
    height: 16px;
    background-position: -207px 18px;
}

.ico-borderbottom {
    width: 16px;
    height: 16px;
    background-position: -1px -137px;
}

.ico-bordertop {
    width: 16px;
    height: 16px;
    background-position: -19px -173px;
}

.ico-borderleft {
    width: 16px;
    height: 16px;
    background-position: -1px -173px;
}

.ico-borderright {
    width: 16px;
    height: 16px;
    background-position: -55px -173px;
}

.ico-bordernone {
    width: 16px;
    height: 16px;
    background-position: -37px -173px;
}

.ico-borderall {
    width: 16px;
    height: 16px;
    background-position: -163px -145px;
}

.ico-borderouter {
    width: 16px;
    height: 16px;
    background-position: -73px -173px;
}

.ico-fillbg {
    width: 16px;
    height: 16px;
    background-position: 25px 64px;
}

.ico-fillcolor {
    width: 16px;
    height: 16px;
    background-position: -19px 72px
}

.ico-aligntop {
    width: 16px;
    height: 16px;
    background-position: -173px -109px;
}

.ico-alignmiddle {
    width: 16px;
    height: 16px;
    background-position: -55px -137px;
}

.ico-alignbottom {
    width: 16px;
    height: 16px;
    background-position: -173px -91px;
}

.ico-alignleft {
    width: 16px;
    height: 16px;
    background-position: -173px -73px;
}

.ico-aligncenter {
    width: 16px;
    height: 16px;
    background-position: -73px -137px;
}

.ico-alignright {
    width: 16px;
    height: 16px;
    background-position: -173px -55px;
}

.ico-textformat {
    width: 32px;
    height: 32px;
    background-position: -35px -1px;
}

.ico-combincells {
    width: 16px;
    height: 16px;
    background-position: -37px -137px;
    float: left;
}

.ico-frozencol {
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.ico-frozenrow {
    width: 32px;
    height: 32px;
    background-position: 32px 0;
}

.ico-frozencustomized {
    width: 32px;
    height: 32px;
    background-position: -32px 0;
}

.fui-alone {
    margin: 6px 0 0 0;
}

.fui-transverse {
    margin: 6px 0 2px 0;
}

.fui-transverse-model {
    padding: 2px
}

.fui-section.active {
    border-color: #9fd5b7;
    background: #9fd5b7;
}

.section {
    border: 1px solid #e1e1e1;
}

.section:hover,
.section.active {
    border-color: #9fd5b7;
}

.ico-section {
    padding: 3px 5px;
    height: 16px;
    overflow: hidden;
}

.ico-section.first {
    margin-left: 0;
}

.ico-section:hover,
.fui-section:hover {
    background: #d3f0e0;
}

.ico-section.active,
.fui-section.active {
    background: #9fd5b7;
}

.ico-section a {
    display: inline-block;
}

.fui-body {
    height: 75px;
}

.font-list {
    font-size: 12pt;
}

.font-list li {}

.font-list li:hover,
.widget-menu li:hover {
    background: #9fd5b7;
    cursor: default;
}

.font-list li span {
    margin: 3px;
    padding: 3px;
    margin-right: 50px;
}

.ico-section-ico {
    float: left;
}

.ico-section-rightarrow {
    margin-left: 2px
}

.fui-cf-alone {
    margin: auto;
}

.fui-cf-fontfamily {
    width: 100px;
}

.fui-cf-fontsize {
    width: 30px;
}

.fui-cf-fontfamily-extend,
.fui-cf-fontsize-extend {
    width: 6px;
}

.fui-cf-fontsize-extend .caret,
.fui-cf-fontfamily-extend .caret {
    margin-top: -3px;
}

.fui-cf-fontfamily-extend.active,
.fui-cf-fontsize-extend.active {
    background: #9fd5b7
}

.tab-container {
    overflow: hidden;
    padding: 1px 4px 8px;
    cursor: default;
    height: 90px;
}

.tab-container li {
    float: left;
    height: 90px;
}

.color-body {
    width: 13px;
    height: 13px;
    border: 1px solid #fff;
}

.color-body:hover {
    border-color: rgb(227, 108, 9);
}

.widget {
    font-size: 12px;
    position: absolute;
    min-width: 75px;
    background: #fff;
    z-index: 100;
    display: none;
}

.widget.active {
    display: block;
}

.widget-panel {
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #9fd5b7;
}

.widget-panel .widget-menu {}

.widget-menu li {
    padding: 3px 8px;
    overflow: hidden
}

.widget-ico {
    padding: 0;
    margin: 3px;
    float: left;
    display: inline-block;
}

.widget-content {
    margin: 3px;
}

.widget-pad {
    padding: 3px
}

.widget-weight {
    font-weight: 700
}

.widget-desc {
    width: 160px;
}

.hide {
    display: none;
}
