body{
	font-family:"Microsoft YaHei";
	background: #fff;
}
.logintop{
	position: relative;
	height: 108px;
	background: #eeeff6;
}
.loginmain {
	height: 500px;
	background:#426dbb;
}
.loginright {
	width:1000px;
	height:450px;
	margin:auto;
	position:relative;
	background:url(../images/login.jpg) no-repeat left bottom;
}
.logintop h1{
    width: 282px;
    height: 66px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -500px;
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: 15px;
    margin: 0;
}
.logintop .logintitle{
    position: absolute;
    left: 375px;
    top: 30px;
    margin: 0;
    color: #0e1a64;
    font-size: 16px;
}
.logintop .loginexp{
    position: absolute;
    left: 375px;
    top: 60px;
    margin: 0;
    color: #999;
    font-size: 14px;
}

.btn-primary {
  background-color: #ff7f19;
  border-color: #ff7f19;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #fa7811;
  border-color: #fa7811;
}
.dropdown-menu {
  right: 0;
  left: auto;
  min-width: auto;
}

#tops,
#tops *,
#tops *::before,
#tops *::after {
    box-sizing: content-box;
    font-size: 14px;
	font-style: normal;
	font-variant: normal;
}

#tops ol,
#tops ul{
	list-style: none;
}
#tops {
    padding-bottom: 15px;
}
.tops {
    height: 130px;
    position: relative;
    border-bottom: 4px solid #1e374d;
}

.header {
    height: 86px;
    position: relative;
}
.navbox {
    border-bottom: 3px solid #e8761b;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
#tops .navbar {
	border-bottom: 3px solid #e8761b;
}
.header .logo {
    width: 274px;
    height: 55px;
    background: url(../images/cq/logo.png) no-repeat;
    margin: 15px 0 0 30px;
    float:left;
}
.header h1 {
    width: 282px;
    height: 66px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -500px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 14px;
    margin: 0;
}

#tops .navbar-nav > li {
	line-height: 32px;
	height: 32px;
	width: 100px;
	text-align: center;
}

#tops .navbar-nav > li > a {
	padding: 0;
	font-size: 16px;
	text-decoration: none;
	color: #333;
}
#tops .navbar-nav > li > a:hover {
	color: #333;
}

.header .top-search {
    width: 324px;
    height: 32px;
    padding: 12px 12px 12px 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -218px;
    overflow: hidden;
    background: #e9eaed url(../images/soshu.png) 15px center no-repeat;
}

.header .search-text {
    background: none;
    border: none;
    border-bottom: 1px solid #949aa3;
    width: 230px;
    padding: 2px 10px;
    height: 27px;
    line-height: 27px;
    color: #888888;
    font-size: 14px;
    float: left;
}

.header .search-btn {
	width:51px;
	height:31px;
	font-weight: bold;
	padding: 0;
	float:right;
	border: none;
	color: #fff;
	cursor:pointer;
    background: url(../images/searchbtn.png) no-repeat;
}

.header .top-right {
    position: absolute;
    right: 15px;
    top: 10px;
}

.header .top-right li {
    height: 32px;
    line-height: 32px;
    float: left;
    margin-left: 10px;
}

.header .top-right li,
.header .top-right li a {
    color: #333;
}

.green {
	color:#3daf2c;
}
a:focus {
	outline:none !important;
}

.nowrap {
	white-space:nowrap !important;
}
.table th {
	white-space:nowrap !important;	
}
.table tr td:last-child {
	white-space:nowrap !important;	
}






#navBox {
	height:51px;
	background: url(../images/cq/navbg.jpg) repeat-x;
	margin-bottom: 20px;
	font-size:1.05em;
}
#navBox li a {
	color:#333;
}
#navBox li.active a {
	background:#a7d1ff;
}

.chaxun {
	background:url(../images/cq/chaxunbg.png) top center no-repeat;
	padding-top:40px;
	margin-top:-20px;
}

.chaxun_l,
.chaxun_r {
	display:inline-table;
	border-radius: 6px;
	box-shadow: 1px 1px 6px rgb( 129, 129, 129 );
	margin-left:20px;
	background-color:#fff;
}
.chaxun_l {
	background:#fff url(../images/cq/chaxun.jpg) right bottom no-repeat;
}
.chaxun_r {
	position:relative;
	margin-right:20px;
	width:340px;
	height:100%;
}
.chaxun_l .title {
	background:url(../images/cq/chushi.png) 13px 9px no-repeat;
	height:50px;
	width:600px;
	overflow:hidden;
	text-indent:-500px;
}
.chaxun_r input[type="text"] {
	border-radius: 5px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2) inset;
	width: 196px;
	height: 31px;
	padding:5px;
	margin-left:70px;
	margin-top:20px;
}
.chaxun_r input[type="button"]  {
	border-radius: 6px;
	background:url(../images/cq/search-btn.png) no-repeat;
	box-shadow: 2px 2px 1px rgba( 0, 0, 0,0.5 );
	width: 30px;
	height: 30px;
	outline:none;
	padding:0;
	margin-top:-6px;
	margin-left:10px;
}
.chaxun_r .search_logo {
	background:url(../images/cq/search.png) no-repeat;
	width:55px;
	height:80px;
	left:-7px;
	top:-9px;
	position:absolute;
}
.chaxun_l ul {
	margin-left:42px;
}
.chaxun_l ul li {
	line-height:24px;
	width:230px;
	float:left;
}
.search-history{
	font-family:"Microsoft YaHei";
	padding-left:70px;
	padding-right:30px;
	height:66px;
	overflow:hidden;
}
.search-history label{
	font-weight:bold;
	margin:9px 0;
}
.search-history li{
	list-style:none;
	float:left;
	padding-right:10px;
}

.panel-line {
	background:#474747;
	height:3px;
	font-size:0;
	margin-top:25px;
	margin-bottom:5px;
}
.panel-line-left {
	background:#3daf2c;
	width:125px;
	height:3px;
	font-size:0;
}
.index-table {
	border-top:2px solid #ddd;
	border-bottom:2px solid #ddd;
}
.chaxun_r .chaxun_r_title {
	background:url(../images/cq/high.png) 13px 9px no-repeat;
	height:50px;
	width:600px;
	overflow:hidden;
	text-indent:-500px;
	width:300px;
}
.chaxun_r .highs {
	padding-left:8px;
}
.chaxun_r .highs ul {
	float:left;
	border:1px solid #ccc;
	padding:10px 5px;
	width:156px;
	background:#f9f9f9;
}
.chaxun_r .highs ul.mr {
	margin-right:10px;
}
.chaxun_r .highs ul li {
	float:left;
	margin:0 4px;
	border:1px solid #3daf2c;
	list-style:none;
}
.chaxun_r .highs ul li.head {
	width:138px;
	font-weight:bold;
	font-size:13px;
	padding-bottom:10px;
	text-align:center;
	border:none;
}
.chaxun_r .highs ul li.monthly {
	background:#fff url(../images/cq/monthly.png) center 5px no-repeat;
	background-size:70%;
}
.chaxun_r .highs ul li.quarterly {
	background:#fff url(../images/cq/quarterly.png) center 5px no-repeat;
	background-size:70%;
}
.chaxun_r .highs ul li.annual {
	background:#fff url(../images/cq/annual.png) center 5px no-repeat;
	background-size:70%;
}

.chaxun_r .highs ul li a {
	text-align:center;
	box-sizing:content-box;
	float:left;
	width:38px;
	height:24px;
	padding-top:30px;
	color:#000;
	font-family:"ËÎÌå";
	font-size:13px;
}


/** bottom **/
.bottom {
	margin-top:20px;
	border-top:2px solid #ddd;
}
.extraBottom {
	height:235px;
	padding:15px 0 0;
	overflow:hidden;
	margin:0 auto;
	width:1000px;
}
.extraBottom ul {
	padding-left:50px;
	list-style:inside;
}
	
.extraBottom .cpr {
	float:left;
	width:332px;
	display:inline;
	position:relative;
	height:206px;
	border-right:1px solid #ddd;
}
.extraBottom .cpr.no {
	border-right:none;
}
.extraBottom .cpr h3 {
	padding-left:50px;
	font-size:18px;
	font-family:'Microsoft YaHei';
	height: 38px;
	line-height: 38px;
	font-weight:bold;
	color:#696969;
	margin-left:5px;
	background:url(../images/cq/bottom.png) no-repeat;
}
.extraBottom .cpr h3.bottomIco2 {
	background-position:0 -38px;
}
.extraBottom .cpr h3.bottomIco3 {
	background-position:0 -76px;
}
.extraBottom .cpr ul li {
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.extraBottom a {
	color:#696969;
}
.extraBottom a:hover {
	text-decoration:underline;
}
#footer {
	height:30px;
	line-height:30px;
	padding-left:20px;
	background:#003c6e;
    color:#fff;
    font-family:Arial,Helvetica,sans-serif;
}


.gap4 {
    background: #f2f2f2;
    padding: 30px 0;
}
.findTitle {
    text-align: center;
    margin-bottom: -2px;
    margin-top: 40px;
}
.findTitle span{
    font-size: 20px;
    color: #404a59;
    padding: 5px 15px; 
    border-bottom: 5px solid #de6200;
    display: inline-block;
}

.findContent {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.findContent a{
	width:100px;
	height:100px;
	display:inline-block;
	text-decoration: none;
}
.findContent a span{
	width:100px;
	height:30px;
	line-height:30px;
	display:block;
    color: #e8761b;
    text-align:center;
}
.theme13 .themeicon2{
	background-position: 0 -100px;
}
.theme13 .themeicon3{
	background-position: 0 -400px;
}
.theme13 .themeicon4{
	background-position: 0 -300px;
}
.theme13 .themeicon5{
	background-position: 0 -500px;
}
.theme13 .themeicon6{
	background-position: 0 -600px;
}
.theme13 .themeicon7{
	background-position: 0 -200px;
}
.theme13 .themeicon8{
	background-position: 0 -1500px;
}
.theme13 .themeicon9{
	background-position: 0 -700px;
}
.theme13 .themeicon10{
	background-position: 0 -1600px; 
}

.theme24 .themeicon1{
	background-position: 0 -900px;
}
.theme24 .themeicon2{
	background-position: 0 -800px;
}

.theme27 .themeicon1{
	background-position: 0 -1000px;
}
.theme27 .themeicon2{
	background-position: 0 -1200px;
}
.theme27 .themeicon3{
	background-position: 0 -1100px;
}
.theme27 .themeicon4{
	background-position: 0 -1300px;
}
.theme27 .themeicon5{
	background-position: 0 -1400px;
}

.theme27 .themeicon6{
	background-position: 0 -1800px; 
}
.theme34 .themeicon1{
	background-position: 0 -1700px; 
}




/* 头部开始 */
.head {
	font-size: 14.4px;
	height: 98px;
}
.head > .container-fluid {
	padding: 0 15px;
}
.head .logo {
	float: left;
	margin-top: 18px;
	height: 42px;
}
.head .logo img {
	display: block;
	height: 100%;
}
.head li {
	list-style: none;
}
.head .search-box {
	margin-left: 300px;
	margin-right: 520px;
	text-align: center;
	padding-top: 24px;
}
.head .search-box .inner {
	text-align: left;
	display: inline-block;
}
.head .search-box .search-logo {
	background: url(../images/sousu.png) center center no-repeat;
	background-size: auto 100%;
	float: left;
	width: 82px;
	height: 30px;
	margin-top: 5px;
}
.head .search-box .input-box {
	float: left;
	margin-left: 9px;
	width: 280px;
	height: 38px;
	border-radius: 26px;
	background: #E4E4E4;
}
.head .search-box .input-box input {
	border: none;
	background: transparent;
	width: 170px;
	margin-left: 30px;
	height: 100%;
}
.head .search-box .input-box input:focus {
	outline: none;
}
.head .search-box .input-box button {
	float: right;
	border: none;
	width: 60px;
	height: 100%;
	background: url(../images/search.png) center center no-repeat;
	background-size: 20px;
	cursor: pointer;
}
.head .header-func {
	margin-top: 35px;
	float: right;
	text-align: right;
	font-size: 15px;
}
.head .header-func span {
	color: #000151;
}
.head .header-func a {
	color: #333333;
	margin-left: 16px;
}
/* 头部结束 */
/* 导航条开始 */
.header-nav {
	line-height: 42px;
	font-size: 14.4px;
	border-bottom: 1px solid #e3e3e3;
}
.header-nav a:hover,
.header-nav a:active,
.header-nav a:focus {
	text-decoration: none;
}
.header-nav li {
	list-style: none;
}
.header-nav > .container-fluid {
	padding: 0 15px;
}
.header-nav .header-navbar {
	margin-bottom: 0;
}
.header-nav .header-navbar > li {
	margin-left: 30px;
	float: left;
	position: relative;
}
.header-nav .header-navbar > li:first-child {
	margin-left: 0;
}
.header-nav .header-navbar > li > a {
	display: block;
	height: 42px;
	font-size: 17px;
	padding: 0 10px;
	line-height: 42px;
	color: #333333;
}
.header-nav .header-navbar > li > a.active {
	background: #FF9500;
	color: #ffffff;
}
.header-nav .header-navbar > li > a.active:hover {
	color: #ffffff;
	text-decoration: none;
}
.header-nav .header-navbar > li > a:hover {
	color: #FF9500;
	text-decoration: none;
}
.header-nav .header-navbar > li:hover .header-subnav {
	display: block;
}
.header-nav .header-navbar .header-subnav {
	top: 100%;
	left: 0;
	min-width: 95px;
	position: absolute;
	z-index: 100000;
	box-shadow: 0 15px 35px 0 rgba(24, 44, 79, 0.15);
	background: #ffffff;
	padding: 5px 20px;
	font-size: 15px;
	display: none;
}
.header-nav .header-navbar .header-subnav a {
	display: block;
	white-space: nowrap;
	line-height: 36px;
	color: #333333;
}
.header-nav .header-navbar .header-subnav a.active {
	background: #FF9500;
	color: #ffffff;
}
.header-nav .header-navbar .header-subnav a:hover {
	color: #FF9500;
	text-decoration: none;
}
.nav-caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 8px;
	vertical-align: middle;
	border-top: 6px dashed;
	border-top: 6px solid\9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}
.pull-right {
	float: right;
}
/* 导航条结束 */
/* 面包屑导航 */
.breadcrumbm {
	padding: 0 15px;
	margin-bottom: 10px;
	font-size: 16px;
}
.breadcrumbm a {
	color: #333333;
}
.breadcrumbm .sep {
	width: 35px;
	height: 12px;
	background: url(../images/right.png) center center no-repeat;
	display: inline-block;
}
.breadcrumbm .active {
	color: #FF9500;
}
.breadcrumbm .more {
	float: right;
	font-size: 16px;
	color: #FF9500;
}
.breadcrumbm .icon_home {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/icon_home_blue.png) center center no-repeat;
	vertical-align: -1px;
	margin-right: 2px;
}
/* 面包屑导航结束 */
/* 底部开始 */
.ict-footer {
	padding: 0 15px;
	line-height: 50px;
	background: #313131;
	font-size: 14px;
	color: #e3e3e3;
	text-align: center;
}
/* 底部结束 */
