@import url("header.css");
.hidden2 {
    visibility: hidden;
}
.panel-body {
    padding-bottom: 0;
}

.panel-body .toolbar-right,
.panel-body .toolbar-left {
    margin-bottom: 10px;
}

.toolbar-left {
    float: left;
}

.table-striped th {
    white-space: nowrap;
}

.table-striped tbody td:last-child a {
    white-space: nowrap;
}

.toolbar-right {
    float: right;
}

.toolbar {
    display: inline-table;
    width: 100%;
    clear: both;
}

.toolbar-group {
    display: inline-table;
}

.toolbar-group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.toolbar-group a {
    float: left;
    margin: 0 5px;
}

.filter-body {
    width: 50%;
    float: left;
    height: 250px;
    overflow-y: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    padding: 0;
    overflow: auto;
    width: 16.66666667%;
}

.tree-panel {
    background: #e4edf6;
    color: #2268b5;
    font-weight: bold;
    margin: 0 -15px;
    border-radius: 0;
}

.common-tips {
    position: fixed;
    top: 5px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    text-align: center;
    background: #dff0d8;
    padding: 8px;
    border-radius: 3px;
    display: none;
    z-index: 9999;
}

.common-content {
    color: #3c763d;
    font-weight: 700;
    line-height: 22px;
    font-family: '΢���ź�';
    font-size: 14px;
    word-wrap: break-word;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.btn-margin {
    margin-left: 8px;
}

.form-margin {
    margin-bottom: 20px;
}

.hid {
    display: none;
}

.ztree-margin {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.filter-group {
    width: 40%;
    float: left;
    overflow-y: auto;
    height: 250px
}

.filter-group-func {
    width: 20%;
    float: left;
    background: #f5f5f5;
    height: 250px;
    position: relative;
}

.btn-group-func {
    position: absolute;
    left: 50%;
    margin-left: -23px;
}

.filter-group-func .btn-add {
    top: 85px;
}

.filter-group-func .btn-del {
    bottom: 85px;
}

.toolbar-padding {
    padding: 15px 0;
    text-align: right;
}

.textright {
    text-align: right;
    margin-right:15px;
}

.btn-disabled {
    color: #e5e5e5;
}

.btn-opr.btn-disabled {
    margin: 0;
}

.a-blue {
    color: #428bca
}

.select-tree {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 0 !important;
}

.hid-bottom {
    border-bottom: 0;
    border-radius: 0;
}

.hid-top {
    border-top: 0;
    border-radius: 0;
}

.timely-search {
    position: absolute;
    left: 0;
    top: 29px;
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    z-index: 99;
    background: #fff;
}

.timely-search {
    position: absolute;
    left: 0;
    top: 32px;
    width: 220px;
    display: none;
}

.timely-search .timely-search-content li {
    padding: 5px 0 5px 8px;
    list-style: none;
}

.timely-search .timely-search-content li:hover {
    background: #e5e5e5;
}

.required_ico {
    color: #c00;
    font-size: 8px;
    padding-right: 3px;
}

.replace-panel {
    *zoom: 1;
}

.replace-panel:after {
    content: "";
    display: table;
    clear: both;
}

.replace-panel .item {
    border: 1px solid #bbb;
    margin: 3px;
    padding: 1px 5px;
    color: #bbb;
    cursor: pointer;
    white-space: nowrap;
    float: left;
}

.replace-panel .active {
    border-color: #c00;
    color: #c00;
}

.debug-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.showGroup {
    position: relative;
}

.showGroupBtn {
    padding: 0 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 6px;
}

.errorBox {
    position: absolute;
    z-index: 999;
    right: -280px;
    top: 115px;
    bottom: 0;
    background: #fff;
    width: 279px;
    border-left: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    padding-top: 30px;
}

.errorTitle {
    height: 30px;
    line-height: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color:#428bca;
	background:#ccc;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid #d4d4d4;
}

.top_pass {
    position: absolute;
    width: 48px;
    right: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #428bca;
    text-align: center;
}

.top_pass:hover {
    color: #fff;
}

.errorBox .hideGroup {
    display: none;
    background: #e0e0e0;
}

.errorBox .hideGroup.on {
    display: block;
}

.errorBox .panel-heading {
    padding-left: 10px;
    padding-right: 10px;
}

.errorBox .debug-container li {
    padding: 8px 0 0 10px;
    background: #f2f2f2;
    margin-bottom: 8px;
    line-height: 24px;
    overflow: hidden;
}
.curErrorPosi > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.debug-container {
    overflow-y: auto;
    padding: 0;
}

.batch-container {
    padding: 5px 15px 15px;
    border-top: 1px solid #ccc;
}

.errorBox .debug-container li.blank_container {
    padding: 15px;
    background: #fff;
    margin-bottom: 0;
}

.preview-table {
    overflow: auto;
    max-height: 500px;
}

.preview-table table tr td {
    padding: 8px;
}


/* 左右拖拽条样式*/

.dragline {
    position: absolute;
    top: auto;
    left: 16.66666667%;
    height: 570px;
    width: 4px;
    overflow: hidden;
    background: rgb(246, 249, 254);
    cursor: w-resize;
    min-height: 10px;
}


/*新增制度*/

.select-tree {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 0 !important;
}

.hid-bottom {
    border-bottom: 0;
    border-radius: 0;
}

.hid-top {
    border-top: 0;
    border-radius: 0;
}

.timePlanning {
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 0 0 6px 6px;
}

#addTab2 .col-sm-5 label {
    font-weight: normal;
}

#addTab2 .col-sm-5 .col-sm-2 {
    width: 16.6667% !important;
    float: none;
    display: inline-block;
}

#addTab2 .col-sm-5 .col-sm-9 {
    width: 82.6667% !important;
    float: none;
    display: inline-block;
}

.form-group .col-sm-10 .col-sm-5 {
    width: 41.6667% !important;
    float: none;
    display: inline-block;
}

.form-group .col-sm-10 .col-sm-3 {
    width: 25% !important;
    float: none;
    display: inline-block;
    margin-left: 20px;
}

.timePlanning select.form-control {
    display: inline-block;
    margin-left: 20px;
    width: 100px;
}

.timePlanning strong.wt100 {
    width: 180px;
    display: inline-block;
}

.timePlanningBtns {
    border-left: 1px solid #ccc;
    border-radius: 6px 0 0 0;
    margin-top: 10px;
}

.timePlanningTist .item,
.timePlanningContent {
    display: none;
}

.timePlanningSave {
    margin-left: 10px;
}

.datePosi {
    margin-left: -15px;
}

.timePlanningBtns ul {
    list-style: none;
}

.addTimeBtn,
.timePlanningBtns ul li {
    float: left;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: default;
    border-radius: 6px 6px 0 0;
    position: relative;
}

.timePlanningBtns ul li.on {
    color: #fff;
    background: #357ebd;
    border-color: #357ebd;
}

.timePlanningBtns ul li span {
    margin-left: 10px;
    cursor: pointer;
}

.addTimeBtn {
    cursor: pointer;
    font-weight: bold;
}

.timePlanning input[type=text] {
    width: 120px;
    display: inline;
}

#pastStyle {
    height: 24px;
    width: 260px;
    padding: 0;
    display: inline;
    vertical-align: top;
}

.timeCopy {
    vertical-align: top;
    height: 24px;
    padding-top: 3px;
}

#datePlanning {
    margin-right: 15px;
}

.inputDate,
.sendDate,
.timePlanningTist ul li {
    line-height: 28px;
    list-style: none;
}

.ui.label.circular {
    display: none;
}


/*新增制度end*/


/*模板管理列表页*/

.J_import_not {
    margin: 0;
}

.ciDimmer.ui.dimmer {
    -moz-user-select: none;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    background-color: rgba(0, 0, 0, 0.85);
    height: 100%;
    left: 0 !important;
    line-height: 1;
    opacity: 1;
    position: fixed;
    text-align: center;
    top: 0 !important;
    transition: background-color 0.5s linear 0s;
    vertical-align: middle;
    width: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: opacity;
    will-change: opacity;
    z-index: 1000;
}

.ui.loader{position:absolute;top:50%;left:50%;margin:0;text-align:center;z-index:1000;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.ui.loader:before{position:absolute;content:'';top:0;left:50%;border-radius:500rem;border:.2em solid rgba(0,0,0,.1)}
.ui.loader:after{position:absolute;content:'';top:0;left:50%;-webkit-animation:loader .6s linear;animation:loader .6s linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;border-radius:500rem;border-color:#767676 transparent transparent;border-style:solid;border-width:.2em;box-shadow:0 0 0 1px transparent}@-webkit-keyframes loader{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes loader{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.ui.loader:after,
.ui.loader:before{width:2.2585em;height:2.2585em;margin:0 0 0 -1.12925em}
.ui.dimmer .ui.loader{color:rgba(255,255,255,.9)}
.ui.dimmer .ui.loader:before{border-color:rgba(255,255,255,.15)}
.ui.dimmer .ui.loader:after{border-color:#FFF transparent transparent}

/**/

.excel-panel,
.excel-panel *,
.excel-panel *::before,
.excel-panel *::after {
    box-sizing: content-box;
}

.excel-panel {
    width: 100%;
    min-height: 200px;
    position: relative;
}

.excel-panel .row {
    margin: 0;
}

.J_synonym_table td {
    text-align: right;
}

.J_synonym_table td .item {
    text-align: left;
    float: left;
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.J_synonym_table td input {
    display: none;
    float: left;
}

.J_synonym_table tr span.glyphicon {
    display: none;
    cursor: pointer;
}

.J_synonym_table tr:hover span.glyphicon {
    display: inline-block;
}

.J_bookfl_table td input {
    display: none;
}
.J_bookfl_table > thead > tr > td,
.J_bookfl_table > thead > tr > th {
    border-bottom-width: 1px; 
}
.bookfl_code,
.bookfl_text {
    width: 158px;
}
.left-panel,
.right-panel {
    min-height: 300px;
    overflow:auto;
}



.ciDimmer.ui.dimmer {
    -moz-user-select: none;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    background-color: rgba(0, 0, 0, 0.85);
    height: 100%;
    left: 0 !important;
    display: block;
    line-height: 1;
    opacity: 1;
    position: fixed;
    text-align: center;
    top: 0 !important;
    transition: background-color 0.5s linear 0s;
    vertical-align: middle;
    width: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: opacity;
    will-change: opacity;
    z-index: 1000;
}

.ui.loader{position:absolute;top:50%;left:50%;margin:0;text-align:center;z-index:1000;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.ui.loader:before{position:absolute;content:'';top:0;left:50%;border-radius:500rem;border:.2em solid rgba(0,0,0,.1)}
.ui.loader:after{position:absolute;content:'';top:0;left:50%;-webkit-animation:loader .6s linear;animation:loader .6s linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;border-radius:500rem;border-color:#767676 transparent transparent;border-style:solid;border-width:.2em;box-shadow:0 0 0 1px transparent}@-webkit-keyframes loader{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes loader{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.ui.loader:after,
.ui.loader:before{width:2.2585em;height:2.2585em;margin:0 0 0 -1.12925em}
.ui.dimmer .ui.loader{color:rgba(255,255,255,.9)}
.ui.dimmer .ui.loader:before{border-color:rgba(255,255,255,.15)}
.ui.dimmer .ui.loader:after{border-color:#FFF transparent transparent}