/**
复制到
 */
.J_Share_AddCopy i,.J_AddCopy i{
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background: url(../images/zhzs.png) no-repeat;
}
.J_AddCopy i.i3{
    background-position: 0 0;
}
/**
数据检查
 */
.data-check{
    display: inline-block;
    vertical-align: bottom;
    width: 19px;
    height: 19px;
    background: url(../images/zhzs.png) no-repeat;
    margin-right: 2px;
    background-position: -60px -20px;
}
/**
权重设置
 */
.weight-edit{
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background: url(../images/zhzs.png) no-repeat;
    margin-right: 2px;
    background-position: -82px -22px;
}
/**
维度转换
 */
.weidu-turn{
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background: url(../images/zhzs.png) no-repeat;
    margin-right: 2px;
    background-position: -82px -1px;
}
/**
计算页面
 */
.recalculate,.refresh{
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background: url(../images/zhzs.png) no-repeat;
    margin-right: 2px;
}
.recalculate{
    background-position: -103px -22px;
}
.refresh{
    background-position: -103px -2px;
}
/*
计算范围
 */
.selectedli span.badge{
background-color: #ffffff;
}
.selectedli span i{
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background: url(../images/zhzs.png) no-repeat;
    margin-right: 2px;
}
.selectedli i.data-ok{
    background-position: -22px -23px;
}
.selectedli i.data-remove{
    background-position: -42px -20px;
}
.btn-fullscreen{
    display: inline-block;
    vertical-align: bottom;
    width: 22px;
    height: 22px;
    background: url(../images/max.png) no-repeat;
    margin-right: 2px;
}
.min-fullscreen{
    display: inline-block;
    vertical-align: bottom;
    width: 22px;
    height: 22px;
    background: url(../images/min.png) no-repeat;
    margin-right: 2px;
}
/**
树的样式
 */
#treeRight{
    max-height: 40%;
    overflow: auto;
}
#tree{
    max-height: 40%;
    overflow: auto;
}
#treeEditc{
    max-height: 40%;
    overflow: auto;
}
#treeShareZs{
    max-height: 40%;
    overflow: auto;
}
#treeZs{
    max-height: 40%;
    overflow: auto;
}
#treePlan{
    max-height: 40%;
    overflow: auto;
}
#treeCata{
    max-height: 40%;
    overflow: auto;
}
/**
版权样式
 */
.ict-footer {
    position:relative;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
    line-height: 50px;
    background: #313131;
    font-size: 14px;
    color: #e3e3e3;
    text-align: center;
}
.fixed-footer{
    position: fixed;
    bottom: 0;
    left: 0;
}